
.vs/MinimarketSantamaria/config/applicationhost.config

.vs/MinimarketSantamaria/CopilotIndices/17.14.1147.5054/CodeChunks.db

.vs/MinimarketSantamaria/CopilotIndices/17.14.1147.5054/CodeChunks.db-shm

.vs/MinimarketSantamaria/CopilotIndices/17.14.1147.5054/CodeChunks.db-wal

.vs/MinimarketSantamaria/CopilotIndices/17.14.1147.5054/SemanticSymbols.db

.vs/MinimarketSantamaria/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-shm

.vs/MinimarketSantamaria/DesignTimeBuild/.dtbcache.v2

.vs/MinimarketSantamaria/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-wal

*.bin

*.json

.vs/MinimarketSantamaria/v17/

*.vsidx
