@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<br>
<div class="row">
    <div class="col-12">

        <div class="card card-info card-outline">
            <div class="card-header">
                <h3 class="card-title text-dark">
                    <span class="text-dark">
                        <i class="bi bi-pencil  text-white"></i>
                    </span>
                    Registrar Usuario
                </h3>
            </div>
            <br>
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-2 align-self-center">
                    <div class="info-box">
                        <span class="info-box-icon bg-info">
                            <i class="bi bi-pencil"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-number text-dark">Registrar</span>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Usuario</h3>
                        </div>
                        <div class="card-body">
                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.Nombres" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                            <label asp-for="Input.Nombres">Nombres</label>
                                            <span asp-validation-for="Input.Nombres" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.Apellidos" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                            <label asp-for="Input.Apellidos">Apellidos</label>
                                            <span asp-validation-for="Input.Apellidos" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.Dni" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                            <label asp-for="Input.Dni">DNI</label>
                                            <span asp-validation-for="Input.Dni" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.Edad" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                            <label asp-for="Input.Edad">Sexo</label>
                                            <span asp-validation-for="Input.Edad" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.Direccion" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                            <label asp-for="Input.Direccion">Direccion</label>
                                            <span asp-validation-for="Input.Direccion" class="text-danger"></span>
                                        </div
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.FechaNacimiento" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                            <label asp-for="Input.FechaNacimiento">Fecha de Nacimiento</label>
                                            <span asp-validation-for="Input.FechaNacimiento" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                            <label asp-for="Input.Email">Email</label>
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                            <label asp-for="Input.Password">Password</label>
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-info text-white">
                                            <i class="bi bi-floppy"></i> Register
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
            <br>
            <div class="card-footer">
                Empresa de Inventarios S.A.
                <a href=""
                   class="link-primary">Derechos Reservados "Empresa de Inventarios S.A."</a>
            </div>
        </div>

    </div>

</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
